/* _content/BlazorApp/Components/Layout/HeaderLayout.razor.rz.scp.css */
.page[b-f2keoovd85] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-f2keoovd85] {
    flex: 1;
}

.top-row[b-f2keoovd85] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #040d32 70%);
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}
.top-row h1[b-f2keoovd85] {
    margin: 0 auto; 
    text-align: center;
    justify-content: center;
    flex: 1;
    color: white;
}

    .top-row[b-f2keoovd85]  a, .top-row[b-f2keoovd85]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-f2keoovd85]  a:hover, .top-row[b-f2keoovd85]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-f2keoovd85]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-f2keoovd85] {
        justify-content: space-between;
    }

    .top-row[b-f2keoovd85]  a, .top-row[b-f2keoovd85]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-f2keoovd85] {
        flex-direction: row;
    }

    .top-row[b-f2keoovd85] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-f2keoovd85]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-f2keoovd85], article[b-f2keoovd85] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-f2keoovd85] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-f2keoovd85] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/BlazorApp/Components/Layout/LandingLayout.razor.rz.scp.css */
*[b-8rc64p0ci1] {
    margin: 0;
    padding: 0;
}

.page[b-8rc64p0ci1] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-8rc64p0ci1] {
    flex: 1;
}

.top-row[b-8rc64p0ci1] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #040d32 70%);
    border-bottom: 1px solid #000000;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}
.top-row h2[b-8rc64p0ci1] {
    margin: 0 auto; /* Remove default margin to center properly */
    text-align: left;
    justify-content: flex-start;
    flex: 1;
    color: white;
}

    .top-row[b-8rc64p0ci1]  a, .top-row[b-8rc64p0ci1]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-8rc64p0ci1]  a:hover, .top-row[b-8rc64p0ci1]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-8rc64p0ci1]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-8rc64p0ci1] {
        justify-content: space-between;
    }

    .top-row[b-8rc64p0ci1]  a, .top-row[b-8rc64p0ci1]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-8rc64p0ci1] {
        flex-direction: row;
    }

    .top-row[b-8rc64p0ci1] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-8rc64p0ci1]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-8rc64p0ci1], article[b-8rc64p0ci1] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

#blazor-error-ui[b-8rc64p0ci1] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-8rc64p0ci1] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/BlazorApp/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-fekawvbbds] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-fekawvbbds] {
    flex: 1;
}

.sidebar[b-fekawvbbds] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #040d32 70%);
}

.top-row[b-fekawvbbds] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-fekawvbbds]  a, .top-row[b-fekawvbbds]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-fekawvbbds]  a:hover, .top-row[b-fekawvbbds]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-fekawvbbds]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-fekawvbbds] {
        justify-content: space-between;
    }

    .top-row[b-fekawvbbds]  a, .top-row[b-fekawvbbds]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-fekawvbbds] {
        flex-direction: row;
    }

    .sidebar[b-fekawvbbds] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-fekawvbbds] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-fekawvbbds]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-fekawvbbds], article[b-fekawvbbds] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-fekawvbbds] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-fekawvbbds] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/BlazorApp/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-zswk0q6kaa] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.79);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}



.navbar-toggler:checked[b-zswk0q6kaa] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-zswk0q6kaa] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-zswk0q6kaa] {
    font-size: 1.1rem;
}

.bi[b-zswk0q6kaa] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-zswk0q6kaa] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-zswk0q6kaa] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-zswk0q6kaa] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.bi-calendar-icon[b-zswk0q6kaa] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-calendar-event' viewBox='0 0 16 16'%3E%3Cpath d='M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z'/%3E%3Cpath d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z'/%3E%3C/svg%3E");
}

.bi-info-icon[b-zswk0q6kaa] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-info-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2'/%3E%3C/svg%3E");
}

.bi-mailbox-icon[b-zswk0q6kaa] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-mailbox2' viewBox='0 0 16 16'%3E%3Cpath d='M9 8.5h2.793l.853.854A.5.5 0 0 0 13 9.5h1a.5.5 0 0 0 .5-.5V8a.5.5 0 0 0-.5-.5H9z'/%3E%3Cpath d='M12 3H4a4 4 0 0 0-4 4v6a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V7a4 4 0 0 0-4-4zM8 7a4 4 0 0 0-1.354-3H12a3 3 0 0 1 3 3v6H8zm-3.415.157C4.42 7.087 4.218 7 4 7s-.42.086-.585.157C3.164 7.264 3 7.334 3 7a1 1 0 0 1 2 0c0 .334-.164.264-.415.157'/%3E%3C/svg%3E");
}

.bi-table-icon[b-zswk0q6kaa] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-table' viewBox='0 0 16 16'%3E%3Cpath d='M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z'/%3E%3C/svg%3E");
}

.nav-item[b-zswk0q6kaa] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-zswk0q6kaa] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-zswk0q6kaa] {
    padding-bottom: 1rem;
}

.nav-item[b-zswk0q6kaa]  .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

.nav-item[b-zswk0q6kaa]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-zswk0q6kaa]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-zswk0q6kaa] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-zswk0q6kaa] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-zswk0q6kaa] {
        display: none;
    }

    .nav-scrollable[b-zswk0q6kaa] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/BlazorApp/Components/Pages/Dashboard.razor.rz.scp.css */
.dashboard[b-qb8dadcbnp] {
    display: grid;
    grid-template-rows: auto 1fr; 
    height: 100vh; 
}

.header[b-qb8dadcbnp] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.header h1[b-qb8dadcbnp] {
    margin: 0;
}

.profile-picture[b-qb8dadcbnp] {
    width: 80px; 
    height: 80px;
    border-radius: 50%; 
    margin-right: 15px;
}

.grid-container[b-qb8dadcbnp] {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px; 
    padding: 20px;
}

.grid-item[b-qb8dadcbnp] {
    background-color: #ddd;
    padding: 20px;
    border-radius: 5px;
}

.blue-background[b-qb8dadcbnp] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #040d32 70%);
}

.box[b-qb8dadcbnp] {
    padding-top: 20px;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}

.box h1[b-qb8dadcbnp] {
    color: #c8c333;
    text-decoration: underline;
}

.box h2[b-qb8dadcbnp] {
    color: #d7d7d7;
    font-size: 25px;
}

.box h3[b-qb8dadcbnp]{
    color:#d7d7d7;
    font-style: italic;
    font-size: 20px;
}

.calendar-box[b-qb8dadcbnp] {
    margin-top: 20px; /* Adjust spacing between grid and calendar */
    border: 1px solid #ddd; /* Example border */
    padding: 20px; /* Example padding */
    border-radius: 5px; /* Example border radius */
    background-color: #f9f9f9; /* Example background color */
}

.eventmenu-toggler[b-qb8dadcbnp] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.79);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #040d32 70%);
}

.eventmenu-toggler:checked[b-qb8dadcbnp] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-qb8dadcbnp] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}


.bi[b-qb8dadcbnp] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-calendar-icon[b-qb8dadcbnp] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-calendar-event' viewBox='0 0 16 16'%3E%3Cpath d='M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z'/%3E%3Cpath d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z'/%3E%3C/svg%3E");
}


.bi-mailbox-icon[b-qb8dadcbnp] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-mailbox2' viewBox='0 0 16 16'%3E%3Cpath d='M9 8.5h2.793l.853.854A.5.5 0 0 0 13 9.5h1a.5.5 0 0 0 .5-.5V8a.5.5 0 0 0-.5-.5H9z'/%3E%3Cpath d='M12 3H4a4 4 0 0 0-4 4v6a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V7a4 4 0 0 0-4-4zM8 7a4 4 0 0 0-1.354-3H12a3 3 0 0 1 3 3v6H8zm-3.415.157C4.42 7.087 4.218 7 4 7s-.42.086-.585.157C3.164 7.264 3 7.334 3 7a1 1 0 0 1 2 0c0 .334-.164.264-.415.157'/%3E%3C/svg%3E");
}

.bi-table-icon[b-qb8dadcbnp] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-table' viewBox='0 0 16 16'%3E%3Cpath d='M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z'/%3E%3C/svg%3E");
}

.bi-chat-icon[b-qb8dadcbnp] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/></svg>');
}

.nav-item[b-qb8dadcbnp] {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 20px;
}

.nav-item:first-of-type[b-qb8dadcbnp] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-qb8dadcbnp] {
    padding-bottom: 1rem;
}

.nav-item[b-qb8dadcbnp]  .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

.nav-item[b-qb8dadcbnp]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-qb8dadcbnp]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-qb8dadcbnp] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-qb8dadcbnp] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-qb8dadcbnp] {
        display: none;
    }

    .nav-scrollable[b-qb8dadcbnp] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/BlazorApp/Components/Pages/Event.razor.rz.scp.css */
.text_input[b-fdr5jz3fcj]{
    border: solid;
    border-radius: 50px;
}

th[b-fdr5jz3fcj], td[b-fdr5jz3fcj]{
    height: 25px;
    border: solid;
    border-left: none;
    border-right: none;
    
    border-color: #636464;
}
/* _content/BlazorApp/Components/Pages/EventCalendar.razor.rz.scp.css */
.title-container[b-dfqg5azmox] {
	text-align: center; 
  }

.button-container[b-dfqg5azmox] {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	margin-bottom: 15px; 
  }
h1[b-dfqg5azmox] {
	text-align: center; 
  }
  
  .btn[b-dfqg5azmox] {
	display: block; 
	margin: 0 auto; 
  }
  .btn:first-child[b-dfqg5azmox] {
	margin-right: 15px; 
  }
  
  .btn:last-child[b-dfqg5azmox] {
	margin-left: 15px; 
  }
  section[b-dfqg5azmox] {
	padding-top: 15px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(5, 1fr);
  }
  
  section > div[b-dfqg5azmox] {
	border: 1px solid black;
	padding: 10px;
  }
  
  section > div h2[b-dfqg5azmox] {
	font-size: 15pt;
  }
  
/* _content/BlazorApp/Components/Pages/Landing.razor.rz.scp.css */
.background-image[b-p8m4vawjh5] {
    background-image: url('/wrestlingmat.jpeg');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
/* _content/BlazorApp/Components/Pages/Roster.razor.rz.scp.css */
.main-title[b-rvlot1nh3i]{
    /* background-image: linear-gradient(#063970, #010e1b); */
    color: #063970;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Makes the text itself transparent, showing the background */
    display: inline-block;
    
    
}

.table[b-rvlot1nh3i]{
    border-color: rgb(227,227,227);
    border: 2px solid;
    box-shadow: 2px 2px 30px lightgray;
    text-align-all: center;
    font-size: 1.2rem;
    
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

th:first-child[b-rvlot1nh3i]{
    border-top-left-radius: 15px;
    
}
th:last-child[b-rvlot1nh3i]{
    border-top-right-radius: 15px;
    border-bottom: none;
}

td:last-child[b-rvlot1nh3i]{
    width: auto;
    border-bottom-left-radius: 15px;
}




.input-2[b-rvlot1nh3i]{
    width: auto; /* Adjust width as needed */
    border: solid;
    border-radius: 50px;
    border-color: rgb(183, 183, 183);
    
}
/* _content/BlazorApp/Components/Pages/SignUp.razor.rz.scp.css */
/* Apply bold font weight to labels */
.label[b-hwecgiciv1] {
    font-weight: bold;
}

/* Set width for input fields */
.input-SignUp[b-hwecgiciv1] {
    width: 250px; /* Adjust width as needed */
    border: solid;
    border-radius: 50px;
    border-color: rgb(183, 183, 183);
}

.submit-SignUp[b-hwecgiciv1]{
    justify-self: center;
    vertical-align: auto;
}


/* Style the submit button */
.btn[b-hwecgiciv1] {
    background-color: #007bff; /* Blue color */
    color: white; /* Text color */
    padding: 8px 16px; /* Padding */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Cursor on hover */
    justify-self: center;
}

    /* Hover effect for the submit button */
    .btn:hover[b-hwecgiciv1] {
        background-color: #0056b3; /* Darker blue color */
    }

.input-table[b-hwecgiciv1]{
    display: grid;
    padding-top: 50px;
    
    place-items: center;
    vertical-align: auto;
    
    
}

.input-table td[b-hwecgiciv1]{
    padding: 10px 0;
}



.center-title[b-hwecgiciv1]{
    display: grid;
    place-items: center;
    
}




body .input-table[b-hwecgiciv1]{
    display: grid;
    place-items: center;
    vertical-align: auto;
    
}
