*[b-8e6ulpkixc] {
    margin: 0;
    padding: 0;
}

.page[b-8e6ulpkixc] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-8e6ulpkixc] {
    flex: 1;
}

.top-row[b-8e6ulpkixc] {
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #040d32 70%);
     */
    background-color: #022733;
    border-bottom: 1px solid #000000;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}
.top-row h2[b-8e6ulpkixc] {
    margin: 0 auto; /* Remove default margin to center properly */
    text-align: left;
    justify-content: flex-start;
    flex: 1;
    color: white;
}

    .top-row[b-8e6ulpkixc]  a, .top-row[b-8e6ulpkixc]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-8e6ulpkixc]  a:hover, .top-row[b-8e6ulpkixc]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-8e6ulpkixc]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-8e6ulpkixc] {
        justify-content: space-between;
    }

    .top-row[b-8e6ulpkixc]  a, .top-row[b-8e6ulpkixc]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-8e6ulpkixc] {
        flex-direction: row;
    }

    .top-row[b-8e6ulpkixc] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-8e6ulpkixc]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-8e6ulpkixc], article[b-8e6ulpkixc] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

#blazor-error-ui[b-8e6ulpkixc] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-8e6ulpkixc] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }