@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <NavLink href="Home" style="color: white;">Back to Home</NavLink>
            <h1 class="title">Mat Matchmaker</h1>
            <Dropdown>
                <DropdownToggleButton Color="ButtonColor.Primary">
                    <Icon Name="IconName.PersonCircle" style="margin-right: 5px;" />Profile
                </DropdownToggleButton>
                <DropdownMenu style="">
                    <DropdownItem To="/roster" Type="ButtonType.Link">Manage Roster</DropdownItem>
                    <DropdownItem To="#" Type="ButtonType.Link">Settings</DropdownItem>
                    <DropdownItem To="#" Type="ButtonType.Link">Log Out</DropdownItem>
                </DropdownMenu>
            </Dropdown>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>