.title-container[b-dfqg5azmox] {
	text-align: center; /* Center the text horizontally */
  }

.button-container[b-dfqg5azmox] {
	display: flex; /* Use flexbox to align items */
	justify-content: center; /* Center items horizontally */
	align-items: center; /* Center items vertically */
	margin-bottom: 15px; /* Add space below the button container */
  }
h1[b-dfqg5azmox] {
	text-align: center; /* Centers the text horizontally */
  }
  
  .btn[b-dfqg5azmox] {
	display: block; /* Ensures the buttons occupy full width */
	margin: 0 auto; /* Centers the buttons horizontally */
  }
  .btn:first-child[b-dfqg5azmox] {
	margin-right: 15px; /* Adjust the space between the buttons */
  }
  
  .btn:last-child[b-dfqg5azmox] {
	margin-left: 15px; /* Adjust the space between the buttons */
  }
  section[b-dfqg5azmox] {
	padding-top: 15px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(5, 1fr);
  }
  
  section > div[b-dfqg5azmox] {
	border: 1px solid black;
	padding: 10px;
  }
  
  section > div h2[b-dfqg5azmox] {
	font-size: 15pt;
  }
  