.background-image[b-p8m4vawjh5] {
    background-image: url('/wrestlingmat.jpeg');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

*[b-p8m4vawjh5] {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a[b-p8m4vawjh5] {
  text-decoration: none;
}

input[b-p8m4vawjh5]::placeholder {
  color: #f3f4f6;
}

.container[b-p8m4vawjh5] {
  display: flex;
  min-height: 100vh;
  max-width: 1300px;
  margin: auto;
  padding: 2rem;
  padding-top: 50px; /*100*/
  position: relative;
}

.container__left[b-p8m4vawjh5],
.container__right[b-p8m4vawjh5] {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__left .content[b-p8m4vawjh5] {
  max-width: 400px;
  display: grid;
  gap: 1rem;
}

.content h1[b-p8m4vawjh5] {
  font-size: 4rem;
  line-height: 4rem;
  color: #f3f4f6;
  font-weight: 700;
}

.content p[b-p8m4vawjh5] {
  color: #f3f4f6;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  font-size: 1.2rem;
}

.btns[b-p8m4vawjh5] {
  display: flex;
  gap: 1rem;
}

.btns button[b-p8m4vawjh5] {
  padding: 0.5rem 2rem;
  color: #f3f4f6;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  border: 2px solid #f3f4f6;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

button.learn__more[b-p8m4vawjh5] {
  background-color: #f3f4f6;
  color: #333333;
}


form[b-p8m4vawjh5] {
  width: 350px;
  display: grid;
  border-radius: 5px;
  background-color: #ffffff33;
  color: #f3f4f6;
}

form h4[b-p8m4vawjh5] {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem;
}

.form__group[b-p8m4vawjh5] {
  display: grid;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.form__group input[b-p8m4vawjh5] {
  padding: 0.5rem;
  font-size: 1rem;
  color: #f3f4f6;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #f3f4f6;
}

form button[b-p8m4vawjh5] {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #022733;
  color: #f3f4f6;
  cursor: pointer;
}

form p[b-p8m4vawjh5] {
    text-align: center; 
    font-size: 1rem !important;
}

form a[b-p8m4vawjh5] {
    color: #f3f4f6; 
    text-decoration: none; 
    position: relative;
    font-weight: bold;
}
form a[b-p8m4vawjh5]::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #022733;
}