.background-image[b-p8m4vawjh5] {
    background-image: url('/wrestlingmat.jpeg');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}