.background-image[b-nryhup4pko] {
    background-image: url(wrestlingmat.jpeg);
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

*[b-nryhup4pko] {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a[b-nryhup4pko] {
    text-decoration: none;
}

input[b-nryhup4pko]::placeholder {
    color: #f3f4f6;
}

.container[b-nryhup4pko] {
    display: flex;
    min-height: 100vh;
    max-width: 1300px;
    margin: auto;
    padding: 2rem;
    padding-top: 50px; /*100*/
    position: relative;
}

.container__right[b-nryhup4pko] {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__left .content[b-nryhup4pko] {
    max-width: 400px;
    display: grid;
    gap: 1rem;
}

.content h1[b-nryhup4pko] {
    font-size: 4rem;
    line-height: 4rem;
    color: #f3f4f6;
    font-weight: 700;
}

.content p[b-nryhup4pko] {
    color: #f3f4f6;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    font-size: 1.2rem;
}

.btns[b-nryhup4pko] {
    display: flex;
    gap: 1rem;
}

.btns button[b-nryhup4pko] {
    padding: 0.5rem 2rem;
    color: #f3f4f6;
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    border: 2px solid #f3f4f6;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

button.learn__more[b-nryhup4pko] {
    background-color: #f3f4f6;
    color: #333333;
}

form[b-nryhup4pko] {
    width: 350px;
    display: grid;
    border-radius: 5px;
    background-color: #ffffff33;
    color: #f3f4f6;
}

form h4[b-nryhup4pko] {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem;
}

.form__group[b-nryhup4pko] {
    display: grid;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.form__group input[b-nryhup4pko] {
    padding: 0.5rem;
    font-size: 1rem;
    color: #f3f4f6;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #f3f4f6;
}

form button[b-nryhup4pko] {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #022733;
    color: #f3f4f6;
    cursor: pointer;
}

form p[b-nryhup4pko] {
    text-align: center;
    font-size: 1rem !important;
}

form a[b-nryhup4pko] {
    color: #f3f4f6;
    text-decoration: none;
    position: relative;
    font-weight: bold;
}
form a[b-nryhup4pko]::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #022733;
}