.background-image {
    background-image: url(wrestlingmat.jpeg);
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.container {
    display: flex;
}

.container__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    /*align-items: center;*/
}

.container__left .content {
    display: grid;
    max-width: 600px; 
    gap: 1rem;
}

.container__right img {
    display: block;
    margin: 0 auto;
    max-width: 100%; 
    height: auto;
}

.content h1 {
    font-size: 4rem;
    line-height: 4rem;
    color: #f3f4f6;
    font-weight: 700;
}

.content p {
    color: #f3f4f6;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    font-size: 1.2rem;
}

.btns {
    display: flex;
    gap: 1rem;
}

.btns a {
    padding: 0.5rem 2rem;
    color: black;
    font-size: 1.5rem;
    background-color: #D6553E;
    outline: none;
    border: 2px solid #f3f4f6;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.btns a:hover {
    background-color: #f3f4f6;
    color: black;
}