@page "/"
@layout BlazorApp.Components.Layout.LandingLayout

<PageTitle>Home</PageTitle>
<div class="background-image">
<div class="login-signup d-flex justify-content-center align-items-center text-center">
    <div class="container">
        <h1 class="display-4 text-white">Welcome to Mat Matchmaker</h1>
        <h3 class="text-white">Ready to get started?</h3>
        <p class="lead text-white">Log in with an existing account or create a new account.</p>
        <a href="Home" class="btn btn-primary">Log In</a>
        <a href="SignUp" class="btn btn-primary">Sign Up</a>
    </div>
</div>
</div>