.background-image {
    background-image: url(wrestlingmat.jpeg);
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input::placeholder {
    color: #f3f4f6;
}

.container {
    display: flex;
    min-height: 100vh;
    max-width: 1300px;
    margin: auto;
    padding: 2rem;
    padding-top: 50px; /*100*/
    position: relative;
}

.container__left,
.container__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__left .content {
    max-width: 400px;
    display: grid;
    gap: 1rem;
}

.content h1 {
    font-size: 4rem;
    line-height: 4rem;
    color: #f3f4f6;
    font-weight: 700;
}

.content p {
    color: #f3f4f6;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    font-size: 1.2rem;
}

.btns {
    display: flex;
    gap: 1rem;
}

.btns button {
    padding: 0.5rem 2rem;
    color: #f3f4f6;
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    border: 2px solid #f3f4f6;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

button.learn__more {
    background-color: #f3f4f6;
    color: #333333;
}

form {
    width: 350px;
    display: grid;
    border-radius: 5px;
    background-color: #ffffff33;
    color: #f3f4f6;
}

form h4 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem;
}

.form__group {
    display: grid;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.form__group input {
    padding: 0.5rem;
    font-size: 1rem;
    color: #f3f4f6;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #f3f4f6;
}

form button {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #022733;
    color: #f3f4f6;
    cursor: pointer;
}

form p {
    text-align: center;
    font-size: 1rem !important;
}

form a {
    color: #f3f4f6;
    text-decoration: none;
    position: relative;
    font-weight: bold;
}
form a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #022733;
}