@page "/Roster"
@using Microsoft.AspNetCore.Components
@using System.Diagnostics
@using Structure
@inject Structure.Roster rosterObj
@rendermode InteractiveServer



<PageTitle>My Roster</PageTitle>
<link rel="stylesheet" href="~BlazorApp/wwwroot/app.css" />
<h1 class="main-title">My Roster</h1>
    <div>
        <table class="table" style="width: 100%; border-collapse: collapse; box-shadow: 0 2px 24px rgba(0, 27, 49, 0.631);">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Skill level</th>
                <th>Grade</th>
                <th>School</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in rosterObj.rosterList)
            {
                @if (!item.Value.editing){
                    <tr >
                        <td>@item.Key</td>
                        <td>@item.Value.firstName</td>
                        <td>@item.Value.skill</td>
                        <td>@item.Value.grade</td>
                        
                        
                        <td><button class="btn btn-secondary" @onclick=" ()=>toggleEdit(item.Value)">Edit</button></td>
                    </tr>
                }
                else {
                    <tr>
                        <td><input type="text" @bind="item.Value.lastName"/></td>
                        <td><input type="text" @bind="item.Value.firstName"/></td>
                        <td><input type="text" @bind="item.Value.skill"/></td>
                        <td><input type="text" @bind="item.Value.grade"/></td>
                        
                        <td><button class="btn btn-secondary" @onclick=" ()=>toggleEdit(item.Value)" type="submit">Submit</button></td>
                    </tr>
                    
                }
            }
            <tr>
                <td><button class="btn btn-primary"  href=""  type="submit">Add</button></td>
                <td><button class="btn btn-primary" href=""  type="submit">Remove</button></td>
            </tr>
        </tbody>
        
    </table>

    </div>



@code{

    
    public string testItem = "test";
    public void testItemChange(){
        Console.WriteLine("entered testitemchanged function");
        testItem="test worked";
        
        StateHasChanged();
    }
    
    [Parameter]
    public EventCallback<bool> Edit{get;set;}

    //changed from 'private async Task' to 'private void'
    private void toggleEdit(Wrestler wrestler) {
        
        wrestler.editing=!wrestler.editing;
        StateHasChanged();
        
    }
    public void Add(){

    }
    
    /*
    public EventCallback Editing(string lastName){
        rosterObj.rosterList[lastName].editing=true;
        StateHasChanged();
    }
    */
    
    /*
    public EventCallback DoneEditing(string lastName){
        rosterObj.rosterList[lastName].editing=false;
        StateHasChanged();
    }
    */
    
}



