@page "/Roster"
@inject Structure.Roster rosterObj


<PageTitle>My Roster</PageTitle>
<head><link rel="stylesheet" href="~BlazorApp/wwwroot/app.css" /></head>
<h1 class="main-title" >My Roster</h1>
<body>
    <div>
        
        

        <table class="table" style="width: 100%; border-collapse: collapse; box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Skill level</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in rosterObj.rosterList)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value.firstName</td>
                    <td>@item.Value.skill</td>
                    <td>@item.Value.grade</td>
                    <td><button class="btn btn-secondary" href=""  type="submit">Edit</button></td>
                </tr>
            }
            <tr>
                <td><button class="btn btn-primary" href=""  type="submit">Add</button></td>
                <td><button class="btn btn-primary" href=""  type="submit">Remove</button></td>
            </tr>
        </tbody>
    </table>

    </div>

</body>
