@page "/Settings"
@using DataAccessLibrary.Models
@using BlazorApp.Models
@using DataAccessLibrary
@inject IProfileData _db
@rendermode InteractiveServer

<PageTitle>Settings</PageTitle>
<h2>Edit your account settings here!</h2>