
@page "/SignUp"
@using DataAccessLibrary.Models
@using BlazorApp.Models
@using DataAccessLibrary
@inject IProfileData _db

@rendermode InteractiveServer



<PageTitle>SignUp</PageTitle>
<head>

</head>
<h1 class="center-title">Sign Up</h1>

<body class="SignUp-body">

@**<EditForm Model="@newProfile" OnSubmit="@InsertProfile">
    <InputText id ="Email" @bind-Value="newProfile.Email"/>
    <InputText id ="Username" @bind-Value="newProfile.Username"/>
    <InputText id ="City" @bind-Value="newProfile.City"/>
    <InputText id ="State" @bind-Value="newProfile.State"/>
    <InputText id ="SchoolName" @bind-Value="newProfile.SchoolName"/>
    <InputText id ="Password" @bind-Value="newProfile.PasswordHash"/>
    
    
    <button type="submit" class="btn btn-primary">Submit</button>


</EditForm>
**@
          
<Form>

    <table class="input-table" style="border-collapse: collapse; border-spacing: 0;">
        <tr>

            <td ><InputText placeholder="Email" class="input-SignUp" @bind-Value="localEmail"/></td>
        </tr>
        <tr>

            <td><InputText placeholder="Username" class="input-SignUp" @bind-Value="localUserName"/></td>
        </tr>
        <tr>

            <td><InputText placeholder="City" class="input-SignUp" @bind-Value="localCity"/></td>
        </tr>
        <tr>
            <td><InputText placeholder="State" class="input-SignUp" @bind-Value="localState"/></td>

        </tr>
        <tr>

            <td><InputText placeholder="School Name" class="input-SignUp" @bind-Value="localSchoolName"/></td>
        </tr>
        <tr>
        
            <td><InputText placeholder="Password" class="input-SignUp" @bind-Value="passwordTemp1"/></td>
        </tr>
        <tr>
        
                    <td><InputText id="confirmPass" placeholder=@confirmPass class="input-SignUp" @bind-Value="passwordTemp2"/></td>
                </tr>
        <tr>

            <td colspan="2" style="text-align: center;"><!-- Adjust colspan as necessary -->
                <button class="btn btn-primary" @onclick="CheckPasswords" >Submit</button>
            </td>
        </tr>
    </table>

</Form>


</body> 

@code {
    
    
    private string localEmail, localUserName, localCity, localState, localSchoolName, passwordTemp1, passwordTemp2;
    private List<ProfileModel> profile;
    private DisplayProfileModel newProfile = new DisplayProfileModel();


    protected override async Task OnInitializedAsync()
    {
        profile = await _db.GetProfile();
    }

    //private string passwordTemp1, passwordTemp2;

    private string confirmPass = "Confirm Password";


    private async Task CheckPasswords() {
        if (passwordTemp1 == passwordTemp2) {
            await InsertProfile();
        }else {
            confirmPass = "**Passwords must match**";
            passwordTemp2 = "";
        }
    }
    
    
    private async Task InsertProfile() {
        
            newProfile.Email = localEmail;
            newProfile.Username = localUserName;
            newProfile.City = localCity;
            newProfile.State = localState;
            newProfile.SchoolName = localSchoolName;
            ProfileModel p = new ProfileModel(newProfile.Email, newProfile.Username, newProfile.City, newProfile.State,newProfile.SchoolName,
                passwordTemp1)
            {
                Email = newProfile.Email,
                City = newProfile.City,
                Username = newProfile.Username,
                State = newProfile.State,
                SchoolName = newProfile.SchoolName,
                PasswordHash = passwordTemp1

            };
            
            Console.WriteLine($"Profile email: {p.Email}");
        
            await _db.InsertProfile(p);   
    }

}